  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            Name
            <input type="text" autocomplete="off" class="form-control">
          </div>
          <div class="form-group">
            Email
            <input type="email" autocomplete="off" class="form-control">
          </div>
          <div class="form-group">
            Password
            <input type="password" autocomplete="off" class="form-control">
          </div>
          <div class="form-group">
            Image
            <input type="file" #image (change)="setImage(image)" multiple autocomplete="off" class="form-control">
          </div>
          <!-- <div class="form-group">
            Seçim
            <select class="form-control" (change)="setSelectedItem($event)">
              <option [value]="i" *ngFor="let i of list" [innerText]="i"></option>
            </select>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="signUp()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>