<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"  id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form #registerForm="ngForm" (ngSubmit)="signUp(registerForm)">
        <div class="modal-body">
          <div class="form-group">
            Name
            <input type="text" name="name" #name ngModel autocomplete="off" class="form-control">
          </div>
          <div class="form-group">
            Email
            <input type="email" name="email" #email ngModel autocomplete="off" class="form-control">
          </div>
          <div class="form-group">
            Password
            <input type="password" name="password" #password ngModel autocomplete="off" class="form-control">
          </div>
          <div class="form-group">
            Image
            <input type="file" #image (change)="setImage(image)" class="form-control">
          </div>
          <div class="form-group mt-2">
            <img [src]="readerImg" alt="Not found image" width="100%" height="100%">
          </div>
          <!-- <div class="form-group">
            Seçim
            <select class="form-control" (change)="setSelectedItem($event)">
              <option [value]="i" *ngFor="let i of list" [innerText]="i"></option>
            </select>
          </div> -->

        </div>
        <div class="modal-footer">
          <div *ngIf="isLoading">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            Sign in...
          </div>
          <button type="button" *ngIf="!isLoading" class="btn btn-secondary" data-bs-dismiss="modal" id="btnModalClose">Close</button>
          <button type="submit" *ngIf="!isLoading" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>