<div class="row">
    <div class="col-md-9 offset-2" style="border: 1px solid white; margin-top:4%;height: 600px;">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group text-center text-white mt-2">
                    <h3>Kullanıcılar</h3>
                </div>
                <hr>
                <div class="form-group mt-4" *ngFor="let user of chatUsers">
                    <img src="{{fileUrl}}/avatars/{{user.avatar}}" alt="" style="border-radius: 500px;" width="50px">
                    <span class="text-white">&nbsp; {{user.userName}}</span>
                </div>
            </div>
            <div class="col-md-9" style="border-left: 1px solid white;height: 600px;">
                
            </div>
        </div>
    </div>
</div>